<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css')}}" />
    {% block links %}
    {% endblock %}
    <title>test-run</title>
</head>

<body>
    {% block js %}
    {% endblock %}
    <div class="container">

        <div class="question">{% block question %}
            {% endblock %}
        </div>
        <div class="input"><textarea name="inputtext" id="textarea" cols="81" rows="34" spellcheck="false"></textarea>
        </div>
    </div>
</body>
{% block button %}

{%endblock%}

</html>